---
// src/pages/employees/add.astro
import Layout from "../../layouts/Layout.astro";
import { DashboardLayout } from "../../components/layout/DashboardLayout";
import { EmployeeForm } from "../../components/forms/EmployeeForm";
---

<Layout title="Add Employee - HRIS">
	<DashboardLayout client:load>
		<div class="space-y-6">
			<div>
				<h1 class="text-3xl font-bold text-gray-900">Add New Employee</h1>
				<p class="text-gray-600 mt-2">Fill in the employee information below.</p>
			</div>
			<EmployeeForm client:load />
		</div>
	</DashboardLayout>
</Layout>
